h1, h2, h3, h4 {
  font-family: "Afacad", serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  width: 1260px;
  margin: auto;
}

h1 {
  font-size: 70px;
  margin-bottom: 50px;
}

h2 {
  font-size: 36px;
  margin-top: 75px;
}

h3 {
  font-size: 26px;
  color: gray;
}

h4 {
  font-size: 16px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  color: gray;
}

p {
  font-size: normal;
  font-family: "Asar", serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: .1rem;
  width: 1000px;
  margin: auto;
  margin-bottom: 75px;
  padding-left: 130px;
  padding-right: 130px;
}

.photo-grid {
  width: 1260px;
  margin: auto;
}

.contacts-container {
  width: 1260px;
  height: 50px;
  margin: auto;
  margin-top: 75px;
  margin-bottom: 10px;
  text-align: center;
}

.contacts-name {
  width: 500px;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  bottom: 10px;
  margin-left: 380px;
  margin-right: 380px;
}

.contacts-instagram {
  width: 30px;
  height: 30px;
  margin: 10px;
  display: inline-block;
  position: static;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.contacts-email {
  width: 30px;
  height: 30px;
  margin: 10px;
  display: inline-block;
  position: static;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.contacts-email p, .contacts-instagram p {
  display: none;
} 

a:-webkit-any-link {
  color: gray;
}

.still-life-header {
  margin: auto;
  width: 1260px;
  position: relative;
}

.still-life-h2 {
  width: 80%;
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.still-life-h2-left {
  width: 10%;
  font-size: 36px;
  position: absolute;
  top: 0px;
  left: 10px;
  margin: 0px;
  text-align: left;;
}

.still-life-h2-right {
  width: 10%;
  font-size: 36px;
  position: absolute;
  top: 0px;
  right: 10px;
  margin: 0px;
  text-align: right;
}

.still-life-back-home {
  width: fit-content;
  height: 25px;
  float: none;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  cursor: pointer;
  display: block;
  filter: brightness(0%);
}

.still-life-back-home:hover {
  filter: brightness(50%);
}

.still-life-back-home-icon {
  height: 100%;
  aspect-ratio: 1/2;
  margin-right: 20px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
  display: inline-block;
}

.still-life-back-home-text {
  width: auto;
  height: 100%;
  line-height: 50%;
  color: #E8E8E8;
  align-items: center;
  display: inline-block;
  margin: 0px;
  display: inline-block;
  vertical-align: middle;
}

.still-life-back-home-text p {
  width: fit-content;
  padding: 0px;
  font-size: normal;
  font-family: "Asar", serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: .1rem;
}

@media only screen and (max-width: 600px) {
  h1, h2, h3 {
    width: 300px;
  }
  
  h1 {
    font-size: 52.5px;
    margin-bottom: 100px;
  }
  
  h2 {
    font-size: 27px;
    margin-top: 150px;
  }
  
  h3 {
    font-size: 19.5px;
  }

  h4 {
    font-size: 14px;
    width: 340px;
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 50px;
  }
  
  p {
    font-size: 16px;
    width: 300px;
    margin: auto;
    margin-bottom: 150px;
    padding: 0;
  }
  
  .photo-grid {
    width: 360px;
    margin: auto;
  }

  .contacts-container {
    width: 340px;
    height: 100px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .contacts-name {
    width: 340px;
    display: inline-block;
    vertical-align: top;
    bottom: 10px;
    margin: 0px;
    left: 0px;
  }

  .contacts-email p, .contacts-instagram p {
    display: none;
  } 

  .still-life-header {
    width: 360px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1300px) {
  h1, h2, h3 {
    width: 600px;
  }
  
  h1 {
    font-size: 52.5px;
    margin-bottom: 100px;
  }
  
  h2 {
    font-size: 27px;
    margin-top: 150px;
  }
  
  h3 {
    font-size: 19.5px;
  }

  h4 {
    font-size: 14px;
    width: 340px;
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 50px;
  }
  
  p {
    font-size: 16px;
    width: 600px;
    margin: auto;
    margin-bottom: 150px;
    padding: 0;
  }
  
  .photo-grid {
    width: 680px;
    margin: auto;
  }

  .contacts-container {
    width: 600px;
    height: 100px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .contacts-name {
    width: 600px;
    display: inline-block;
    vertical-align: top;
    bottom: 10px;
    margin: 0px;
    left: 0px;
  }

  .contacts-email p, .contacts-instagram p {
    display: none;
  } 

  .still-life-header {
    width: 680px;
  }
}