.photo-details {
  width: fit-content;
  min-width: max-content;
  height: 80%;
  min-height: 720px;
  max-height: 900px;
  position: fixed;
  top: calc(50% - 40px);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.photo-details-img {
  height: 100%;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.photo-details-img img {
  width: 100%;
  margin-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0;
  flex: 1;
}

.photo-details-img-loading {
  position: absolute;
}

.photo-details-right {
  height: 100%;
  float: left;
  aspect-ratio: 1/2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.photo-details-left-padding, .photo-details-right-padding {
  height: 100%;
  float: left;
  aspect-ratio: 1/14;
}

.photo-details-close-wrapper {
  width: 50%;
  aspect-ratio: 1/1;
  margin-top: 20%;
  cursor: pointer;
}

.photo-details-close-wrapper:hover {
  filter: brightness(50%);
}

.photo-details-close {
  width: 60%;
  aspect-ratio: 1/2;
  margin-top: 15%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-origin: content-box;
}

.photo-details-close-mobile {
  display: none;
}

.photo-details-title {
  width: 100%;
  height: 60px;
  background-color: #E8E8E8;
  position: relative;
}

.photo-details-description, .photo-details-description-poem {
  height: 0%;
  width: 100%;
  background-color: #E8E8E8;
  flex: 10;
  margin-bottom: 20px;
  position: relative;
}

.photo-details-location {
  width: 100%;
  background-color: #E8E8E8;
  flex: 6;
  position: relative;
  border: 0;
  cursor: pointer;
  display: block;
}

.photo-details-location-text {
  width: 100%;
  background-color: #E8E8E8;
  flex: 1;
  position: relative;
}

.photo-details-title h1, .photo-details-title h2, .photo-details-title h3, .photo-details-location-text h3  {
  font-family: "Afacad", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  width: 90%;
  margin: auto;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.photo-details-title h1 {
  left: 4%;
  text-align: left;
}

.photo-details-title h2 {
  right: 65px;
  text-align: right;
}

.photo-details-location-icon {
  width: 30px;
  height: 30px;
  margin: 15px;
  position: absolute;
  right: 0%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
}

.photo-details-close-mobile-text {
  font-family: "Asar", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-align: left;
  letter-spacing: .1rem;
  line-height: 1.8;
  width: 84%;
  margin-left: 8%;
  margin-top: 7%;
  margin-bottom: 7%;
  padding: 0;
  white-space: pre-line;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(200, 200, 200); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; 
}

@media only screen and (max-width: 600px), only screen and (min-width: 600px) and (max-width: 1300px) and (orientation: portrait) {
  .photo-details {
    width: 90%;
    min-width: unset;
    max-width: 600px;
    height: unset;
    min-height: unset;
    max-height: unset;
    top: calc(50%);
  }

  .photo-details::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
  }

  .photo-details-img {
    width: 100%;
    height: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
    float: none;
    margin-right: 0;
  }

  .photo-details-left-padding, .photo-details-right-padding, .photo-details-close {
    display: none;
  }

  .photo-details-close-mobile {
    width: fit-content;
    height: 25px;
    float: none;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;
    display: block;
  }

  .photo-details-close-mobile:hover {
    filter: brightness(50%);
  }

  .photo-details-close-mobile-icon {
    height: 100%;
    aspect-ratio: 1/2;
    margin-right: 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-origin: content-box;
    display: inline-block;
  }

  .photo-details-close-mobile-text {
    width: auto;
    height: 100%;
    line-height: 50%;
    color: #E8E8E8;
    align-items: center;
    display: inline-block;
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
  }

  .photo-details-close-mobile-text p {
    width: fit-content;
  }
  
  .photo-details-title {
    width: 100%;
    height: 50px;
    background-color: #E8E8E8;
    position: relative;
    flex: none;
  }

  .photo-details-title h1, .photo-details-title h2, .photo-details-title h3, .photo-details-location-text h3  {
    font-size: 20px;
    width: 90%;
    margin: auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .photo-details-title h1 {
    left: 5%;
    text-align: left;
  }
  
  .photo-details-title h2 {
    right: 55px;
    text-align: right;
  }

  .photo-details-location-icon {
    width: 27px;
    height: 27px;
    margin: 12px;
    position: absolute;
    right: 0%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-origin: content-box;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1300px) and (orientation: landscape) {
  .photo-details {
    width: fit-content;
    min-width: max-content;
    height: 85%;
    min-height: 500px;
    max-height: 900px;
  }

  .photo-details-title h1, .photo-details-title h2 {
    font-size: 20px;
  }
  
  .photo-details-description p, .photo-details-close-mobile-text {
    font-size: 14px;
    line-height: 1.8;
  }
}