.photo-thumbnail {
    width: 400px;
    height: 500px;
    background-color: rgb(200, 200, 200);
    margin: 10px;
    padding: 0px;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-tap-highlight-color: transparent;
}

.photo-thumbnail img {
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
}

.photo-thumbnail:hover img {
    opacity: 75%;
}

.photo-details-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    z-index: 10;
    backdrop-filter: blur(5px);
}

.photo-details-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}

@media only screen and (max-width: 600px) {
    .photo-thumbnail {
        width: 160px;
        height: 200px;
        margin: 10px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1300px) {
    .photo-thumbnail {
        width: 320px;
        height: 400px;
        margin: 10px;
    }
}